.style0{
  /*BODY样式表*/
  .body-pic{
  }
  /*HEAD样式表*/
  .head-back-color {
    background-color: #3a3f51;
  }

  .head-brand-color {
    color: rgba(234, 235, 237, 0.99);
  }

  .head-keyword-back-color {
    background-color: rgba(234, 235, 237, 0.98);
  }

  .head-music-pic {
  }
  /*PANEL样式表*/
  .panel-aside-back-color{
    background-color: #edf1f2;
  }
  .panel-aside-color{
    color: #4e5c64;
  }

  @for $i from 1 through 35
  {
    .panel-item-pic-#{$i}{

    }
  }

  .panel-item-title-color{
    color:rgb(50, 50, 50);
  }

  .panel-avatar-dec{
    text-align: center;
    padding: 20px;
    img{
      width: 90px;
      height: 90px;
      border-radius: 45px;
    }
  }

  .panel-avatar-sign{
    display: block;
  }

  .panel-right-img-style{
    width: 45px;
    height: 45px;
    border-radius: 25px;
  }
  @for $i from 0 through 9
  {
    .panel-right-img-pic-#{$i}{
    }
  }
  .headertop {
    display: none;
  }
  #blog_panel {
    display: inline-block;
    @include panelWidth();
    height: 100%;
    text-align: left;
    font-size: 0px;
    position: relative;
    box-shadow: 0 0 4px 3px rgba(0,0,0,.05);
    opacity: .98;
    .blog-head-bar {
      height: $headHeight;
      z-index: 10;
    }

    .main-panel {
      height: calc(100% - #{$headHeight});
      position: relative;
      left: 0;


      @include switchHeadBar(){
        .blog-aside-show {
          @include showAside();
        }
        .blog-aside-hide {
          @include hideAside();
        }
      }
      .panel-aside-shape{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        background-color: rgba(0,0,0,.3);
        display: none;
        @include switchHeadBar(){
          display: inline-block;
        }
      }
      .panel-aside-shape-hide{
        display: none;
      }
      .panel-aside {
        position: absolute;
        left: 0;
        z-index: 4;
        transition: all 0.3s ease-out 0.1s;
        width: 220px;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        box-shadow: .8px .8px .8px rgba(0, 0, 0, .2);
        box-sizing: border-box;
      }


      .loading-bar-clz {
        width: 100%;
        position: absolute;
        vertical-align: top;
        z-index: 2;
        width: calc(100% - 230px);
        left: 220px;
        @include switchHeadBar(){
          width: 100%;
          left: 0;
        }
      }

      .loading-body-clz {
        transition: all .25s ease-in-out 0s;
        position: absolute;
        vertical-align: top;
        z-index: 2;
        width: calc(100% - 230px);
        left: 230px;
        @include switchHeadBar(){
          width: 100%;
          left: 0;
        }
      }

      .route-body {
        background-color: #F6F8F9;
        left: 220px;
        width: calc(100% - 220px);
        @include switchHeadBar(){
          left: 0px;
          width: 100%;
        }
        position: absolute;
        top: 0;

        overflow-y: scroll;
        display: inline-block;
        height: 100%;
        overflow-x: hidden;
        vertical-align: top;
        .router-view-wrap{
          min-height: calc(100% - 40px);
        }
      }
    }
  }
  #blog_bottom {
    width: 100%;
    height: 40px;
    background-color: #edf1f2;
    border-top: 1px solid #dee5e7;
    box-sizing: border-box;
    position: absolute;
    font-size: 0px;
    line-height: 43px;
    overflow: hidden;
    white-space: nowrap;

    .copyright {
      cursor: default;
      display: inline-block;
      color: #58666e;
      font-size: 13px;

      float: left;
      line-height: 16px;
      transform: translateY(calc(50% + 6px));
      margin-left: 16px;
      @include switchHeadBar {
        margin-left: 5px;
      }


    }

    .author-clz {
      padding: 0 4px 0 4px;
      font-weight: bold;
      cursor: pointer;
      padding-bottom: 0px;
      border-bottom: 1px solid rgba(120, 120, 120, .6);
    }

    .technology {
      font-weight: 600;
      font-size: 28px;
      font-family: "黑体";
      color: #8c888b;
      background: -webkit-linear-gradient(45deg, #FF0000, #FF9900, #FFCC00, #66CC00, #00FFCC);
      color: transparent;
      -webkit-background-clip: text;
      animation: ran 10s linear infinite;
      display: inline-block;
      font-size: 15px;
      float: right;
      padding-right: 10px;
      @include switchHeadBar {
        display: none;
      }
    }

  }
  #route_body {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;
    .inner-route-body {
      // display: inline-block;
      //width:100%;
      // vertical-align: top;
      // position: relative;
      // @include worksBodyWidth();
      display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
    }
    .pub-aside {
      @include deve4() {
        display: none;
      }
      @include switchHeadBar(){
        display: none;
      }
      // display:inline-block;
      // width: 248px;
      // vertical-align: top;
      // position: relative;
      // border-left: 1px solid #e2e8ea;
      // box-sizing: border-box;
      display: table-cell;
    float: none;
    width: 240px;
    height: 100%;
    vertical-align: top;
    }
  }
  .wrapper-md{
    padding: 20px;
  }
#post-panel>div.blog-post>.panel:not(.b-a), #post-panel>div.blog-post>.panel-small {
  transition: all .2s;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2) !important;
}
#post-panel>div.blog-post>.panel, #post-panel>div.blog-post>.panel-small, .wrapper-md>#comments, .wrapper-md>.breadcrumb {
  background-color: rgba(255, 255, 255, .9);
}
.blog-post>.panel, .blog-post>.panel-small {
  border: 0;
  border-radius: 5px;
}
.panel {
  border-radius: 4px;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.index-post-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.item-thumb {
  min-height: 250px;
  position: relative;
  display: block;
  background-position: 50% 50%;
  background-size: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.blog-post>.panel .index-post-img .item-thumb, .panel-small .index-post-img-small .item-thumb-small, .index-post-title a {
  transition: all .2s;
}
@media (max-width: 1199px) {
  .item-thumb {
      min-height: 185px;
      height: auto;
  }
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.panel .post-meta.wrapper-lg {
  padding: 20px;
}
.index-post-title, .navbar-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.index-post-title {
  font-size: 22px;
}
.m-t-none {
  margin-top: 0 !important;
}
.blog-post>.panel:hover .index-post-img .item-thumb,
.blog-post>.panel-small:hover .index-post-img-small .item-thumb-small {
    transform: scale(1.05)
}
.wrapper-md>#comments,
.wrapper-md>.blog-post,
.wrapper-md>.breadcrumb,
.m-t-lg.m-b-lg,
.wrapper-md>.no_search_result {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto
}
#post-panel>div.blog-post>.panel,
#post-panel>div.blog-post>.panel-small,
.wrapper-md>#comments,
.wrapper-md>.breadcrumb {
    background-color: rgba(255, 255, 255, .9)
}

@media screen and (min-width: 1200px) {
  .panel-small .post-meta {
      padding: 13px 15px !important
  }

  .blog-post .post-meta.wrapper-lg {
      padding-top: 15px
  }

  .sticky {
      position: absolute;
      top: 12px;
      left: 15px
  }

  .panel .item-thumb {
      height: 300px
  }

  #post-panel .blog-post {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between
  }

  #post-panel>div.blog-post>.panel {
      overflow: hidden;
      width: 100%
  }

  #post-panel>div.blog-post>.panel .post-meta {
      position: relative;
      margin-top: -300px;
      height: 300px;
      padding-top: 133px !important;
      padding-bottom: 0 !important;
      background-color: rgba(0, 0, 0, .3);
      color: #fff !important;
      transition: all .3s
  }

  #post-panel>div.blog-post>.panel .post-meta,
  #post-panel>div.blog-post>.panel-small .post-meta {
      border-radius: 5px
  }

  #post-panel>div.blog-post>.panel .post-meta *,
  #post-panel>div.blog-post>.panel-small .post-meta * {
      color: #fff !important
  }

  #post-panel>div.blog-post>.panel .post-meta>h2,
  #post-panel>div.blog-post>.panel-small .post-meta>h2 {
      text-align: center;
      text-shadow: 0 0 3px #fff
  }

  #post-panel>div.blog-post>.panel .post-meta>div,
  #post-panel>div.blog-post>.panel .post-meta>p,
  #post-panel>div.blog-post>.panel-small .post-meta>div,
  #post-panel>div.blog-post>.panel-small .post-meta>p {
      transition: all .3s;
      transform: translateY(-10px);
      opacity: 0
  }

  #post-panel>div.blog-post>.panel .post-meta>.text-muted,
  #post-panel>div.blog-post>.panel-small .post-meta>.text-muted {
      position: absolute;
      bottom: 20px
  }

  #post-panel>div.blog-post>.panel .post-meta>.line {
      position: absolute;
      bottom: 40px;
      width: 740px
  }

  #post-panel>div.blog-post>.panel-small .post-meta>.line {
      position: absolute;
      bottom: 40px;
      width: 350px
  }

  #post-panel>div.blog-post>.panel .post-meta>.summary {
      position: absolute;
      bottom: 60px;
      width: 740px
  }

  #post-panel>div.blog-post>.panel-small .post-meta>.summary {
      position: absolute;
      bottom: 60px;
      width: 350px
  }

  #post-panel>div.blog-post>.panel-small {
      display: inline-block;
      height: 300px;
      width: calc(50% - 10px)
  }

  #post-panel>div.blog-post>.panel-small .index-img-small,
  #post-panel>div.blog-post>.panel-small .index-img-small .item-thumb-small {
      height: 100%;
      width: 100%
  }

  #post-panel>div.blog-post>.panel-small .post-meta {
      position: absolute;
      height: 300px;
      width: calc(50% - 10px);
      padding: 133px 20px 0 20px !important;
      background-color: rgba(0, 0, 0, .3);
      color: #fff !important;
      transition: all .3s
  }

  #post-panel>div.blog-post>.panel-small:hover .post-meta,
  #post-panel>div.blog-post>.panel:hover .post-meta {
      background-color: rgba(0, 0, 0, .6)
  }

  #post-panel>div.blog-post>.panel-small:hover .post-meta>div,
  #post-panel>div.blog-post>.panel-small:hover .post-meta>p,
  #post-panel>div.blog-post>.panel:hover .post-meta>div,
  #post-panel>div.blog-post>.panel:hover .post-meta>p {
      opacity: 1;
      transform: translateY(0)
  }

  #post-panel>div.blog-post>.panel-small:hover .post-meta,
  #post-panel>div.blog-post>.panel:hover .post-meta {
      padding-top: 80px !important
  }

  #post-panel .ahover {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0
  }

  .blog-post>.panel-small:hover .index-post-img-small,
  .blog-post>.panel:hover .index-post-img {
      filter: blur(3px)
  }
}
}
.style1{
  /*BODY样式表*/
  .body-pic{
  }
  /*HEAD样式表*/
  .head-back-color {
    background-color: #f9f9f9;
  }
  
  .head-brand-color {
    color: #444;
  }
  
  .head-keyword-back-color {
    background-color: white;
  }
  
  .head-music-pic {
  }
  
  .panel-aside-back-color{
    background-color: #f9f9f9;
  }
  .panel-aside-color{
    color: #777;
  }
  
  
  @for $i from 1 through 35
  {
    .panel-item-pic-#{$i}{
    }
  }
  
  .panel-item-title-color{
    color:#555;
  }
  
  
  .panel-avatar-dec{
    text-align: left;
    padding: 20px;
  img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
  }
  
  .panel-avatar-sign{
    display: inline-block;
    padding-left: 20px;
    position: absolute;
    top: 2px;
  }
  
  .panel-right-img-style{
    width: 45px;
    height: 45px;
    border-radius: 5px;
  }
  @for $i from 0 through 9
  {
    .panel-right-img-pic-#{$i}{
    }
  }
  .headertop {
    display: none;
  }
  #blog_panel {
    display: inline-block;
    @include panelWidth();
    height: 100%;
    text-align: left;
    font-size: 0px;
    position: relative;
    box-shadow: 0 0 4px 3px rgba(0,0,0,.05);
    opacity: .98;
    .blog-head-bar {
      height: $headHeight;
      z-index: 10;
    }

    .main-panel {
      height: calc(100% - #{$headHeight});
      position: relative;
      left: 0;


      @include switchHeadBar(){
        .blog-aside-show {
          @include showAside();
        }
        .blog-aside-hide {
          @include hideAside();
        }
      }
      .panel-aside-shape{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        background-color: rgba(0,0,0,.3);
        display: none;
        @include switchHeadBar(){
          display: inline-block;
        }
      }
      .panel-aside-shape-hide{
        display: none;
      }
      .panel-aside {
        position: absolute;
        left: 0;
        z-index: 4;
        transition: all 0.3s ease-out 0.1s;
        width: 230px;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        box-shadow: .8px .8px .8px rgba(0, 0, 0, .2);
        box-sizing: border-box;
      }


      .loading-bar-clz {
        width: 100%;
        position: absolute;
        vertical-align: top;
        z-index: 2;
        width: calc(100% - 230px);
        left: 230px;
        @include switchHeadBar(){
          width: 100%;
          left: 0;
        }
      }

      .loading-body-clz {
        transition: all .25s ease-in-out 0s;
        position: absolute;
        vertical-align: top;
        z-index: 2;
        width: calc(100% - 230px);
        left: 230px;
        @include switchHeadBar(){
          width: 100%;
          left: 0;
        }
      }

      .route-body {
        background-color: #F6F8F9;
        left: 230px;
        width: calc(100% - 230px);
        @include switchHeadBar(){
          left: 0px;
          width: 100%;
        }
        position: absolute;
        top: 0;

        overflow-y: scroll;
        display: inline-block;
        height: 100%;
        overflow-x: hidden;
        vertical-align: top;
        .router-view-wrap{
          min-height: calc(100% - 40px);
        }
      }
    }
  }
  #blog_bottom {
    width: 100%;
    height: 40px;
    background-color: #edf1f2;
    border-top: 1px solid #dee5e7;
    box-sizing: border-box;
    position: absolute;
    font-size: 0px;
    line-height: 43px;
    overflow: hidden;
    white-space: nowrap;

    .copyright {
      cursor: default;
      display: inline-block;
      color: #58666e;
      font-size: 13px;

      float: left;
      line-height: 16px;
      transform: translateY(calc(50% + 6px));
      margin-left: 16px;
      @include switchHeadBar {
        margin-left: 5px;
      }


    }

    .author-clz {
      padding: 0 4px 0 4px;
      font-weight: bold;
      cursor: pointer;
      padding-bottom: 0px;
      border-bottom: 1px solid rgba(120, 120, 120, .6);
    }

    .technology {
      font-weight: 600;
      font-size: 28px;
      font-family: "黑体";
      color: #8c888b;
      background: -webkit-linear-gradient(45deg, #FF0000, #FF9900, #FFCC00, #66CC00, #00FFCC);
      color: transparent;
      -webkit-background-clip: text;
      animation: ran 10s linear infinite;
      display: inline-block;
      font-size: 15px;
      float: right;
      padding-right: 10px;
      @include switchHeadBar {
        display: none;
      }
    }

  }
  #route_body {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;
    .inner-route-body {
      // display: inline-block;
      //width:100%;
      // vertical-align: top;
      // position: relative;
      // @include worksBodyWidth();
      display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
    }
    .pub-aside {
      @include deve4() {
        display: none;
      }
      @include switchHeadBar(){
        display: none;
      }
      // display:inline-block;
      // width: 248px;
      // vertical-align: top;
      // position: relative;
      // border-left: 1px solid #e2e8ea;
      // box-sizing: border-box;
      display: table-cell;
    float: none;
    width: 240px;
    height: 100%;
    vertical-align: top;
    }
  }
  }
  
  .Sakura{
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: #eee;
  }
  ::-webkit-scrollbar-thumb {
      background: #FE9600;
  }
  ::-webkit-scrollbar-thumb {
      background-color: #69d2e7;
  }
  ::-webkit-scrollbar-track {
      background-color: #eee;
  }
  ::selection {
      background: #444;
      color: #fff;
  }
  #blog_panel{
    position: relative;
    height: 100%;
    overflow-y: auto;
  }
   .headertop {
      position: relative;
      overflow: hidden;
      height: 0;
  }
  .headertop, .pattern-center {
      animation: header 1s;
  }
  .headertop.filter-dot:before {
    background-image: url(https://jsdelivr.2heng.xin/gh/moezx/cdn@3.1.9/img/Sakura/images/dot.gif);
  }
  .headertop:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-attachment: fixed;
  }
  *:before, *:after {
    box-sizing: inherit;
  }
  #centerbg {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
  }
  .centerbg {
    
    background-position: center center;
    background-attachment: inherit;
  }
  #bgvideo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    min-width: 99.999%;
    min-height: 550px;
    z-index: 0;
  }
  #video-btn, #video-add {
    position: absolute;
    bottom: 3px;
    right: 5px;
    width: 32px;
    height: 32px;
    z-index: 7;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    opacity: .8;
    -moz-animation: poi-face 10s linear infinite alternate;
    -webkit-animation: poi-face 10s linear infinite alternate;
    -o-animation: poi-face 10s linear infinite alternate;
    animation: poi-face 10s linear infinite alternate;
  }
  .video-play, .loadvideo {
    background-image: url(https://jsdelivr.2heng.xin/gh/moezx/cdn@3.1.9/img/Sakura/images/play@32x32.png);
  }
  #video-add {
    display: none !important;
  }
  #video-add {
    background-image: url(https://jsdelivr.2heng.xin/gh/moezx/cdn@3.1.9/img/Sakura/images/add@32x32.png);
    bottom: 45px;
    display: none;
  }
  #blog_head_bar{
    width: 100%;
    height: 75px;
    background: 0 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    position: fixed;
    z-index: 9999;
    top: 0;
  }
  .main-panel {
  }
  #panel_aside,#pub_aside,.head-title,#loading_bar,.panel-aside-shape,.keyword-searcher-shade{
    display: none !important;
  }
  .none-base-scroll {
    overflow-y: auto;
  }
 #category_body {
    left: 0 !important;
    max-width: 800px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, .8);
    
  }
  }